@font-face {
  font-family: 'Krona One';
  src: url('/fonts/krona-one-latin-400-normal.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;
}

.module-api .options-api {
  position: absolute;
  display: flex;
  border: 1px solid ;
  padding: 5px 7px;
  border-radius: 7px 7px 0px 0px;
}

.module-api .options-api p {
  margin-top: 5px;
}

.module-api .options-api select {
  background-color: rgba(179, 179, 179, .5);
  border: none;
  width: 93.3px;
  font-family: 'Poppins';
  margin-left: 7px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.module-api .options-api button {
  border: none;
  background-color: #003087;
  border-radius: 4px;
  padding: 4px 8px;
  color: #fff;
  font-family: 'Poppins';
  font-weight: bold;
  margin-left: 2em;
  cursor: pointer;
}

.parteDerecha .block-api {
  position: absolute;
  background-color: #22292a;
  padding: 10px;
  margin-top: 2em;
  width: 485px;
  height: 2.7em;
  border-bottom: 1px solid #ffffff;
}

.parteDerecha .block-api img {
  width: 489px;
  margin-top: -15px;
  object-fit: cover;
}

.parteDerecha .module-api .resultado {
  position: absolute;
  margin-top: 9.6em;
  font-size: 12px;
  width: 499px;
  overflow-y: auto;
  background-color: #22292a;
  border-radius: 0px 0px 7px 7px;
  height: 429px;
  overflow-x: auto;
  overflow-y: auto;
}

.resultado {
  color: #CB8F77; /* Fondo gris claro */
  padding: 10px 18px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  font-family: 'Krona One'; /* Fuente monoespaciada para mantener la estructura */
  line-height: 1.7; /* Espaciado entre líneas */
}

.resultado .json-key {
  color: #CB8F77; /* Color azul para las claves */
}

/* Estilos para resaltar los valores del JSON */
.resultado .json-value {
  color: #CECFA0; /* Color verde para los valores */
}

/* Estilos para el separador ":" del JSON */
.resultado .json-separator {
  color: #9A9D9D; /* Color negro para el separador ":" */
}


/* #CECFA0 */
/* #CB8F77 */