
@font-face {
    font-family: 'Krona One';
    src: url('/fonts/krona-one-latin-400-normal.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins-latin-200-normal.woff2') format('woff2') ;
}

*{
    margin: 0;
    padding: 0;
    
}

:root{
    --tipografia-body:'Cormorant Garamond', serif;
    --neutral-color-background:#FDFDFD;
    --secundary-color: white;
    --third-color:#F5D38E;
}

body{
    background-color: var(--neutral-color-background);
    max-width: 1440px;
}

#ContenedorHeader{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 66px;
    margin-top: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navegador{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40em;
    align-items: center;
    margin-right: 2em;
}
.menu-desplegable{
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style: none;
    height: 32px;
    align-items: center;
    flex-wrap: wrap;

}
.menu-desplegable a, .menu-desplegable h6{
    
    height: 16px;
    font-family: 'Krona One', sans-serif;
    font-size: 12px; 
    line-height: 14.4px;
    letter-spacing: 0.5px;
    text-align: center;
    color:#565656;
    text-decoration-line:none;
}

.menu-desplegable span{
    flex-wrap: wrap;
    color: #E6E9EA;
    font-size: 28px;
    font-weight: 500;
    margin-top: -11px;
    
}
.section-iconosExtras{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 126px;
    gap:32px;
   
}
.section-github{display: flex;flex-direction: row;
    align-items: center;
    background-color:#E6E9EA;
    border-radius: 5px;
    padding: 3px;
}
.section-github p{
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    font-family: 'Krona One', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

#Logo-API{
    margin-left: 4em;
    margin-top: 11px;
    width: 122px;
    height: 38.1px;
}
.menu-desplegable li:hover{
    height: 20px;
   
    cursor: pointer;

    padding-bottom: 8px;
    border-bottom: 2px solid #595b5c;
    border-radius: 4px;
   
}
.section-iconosExtras:hover{
    cursor: pointer;
}

#informacionGeneral{
    position: relative;
    max-width: 100%;
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    gap:7px;
    font-family: 'Krona One', sans-serif;
    align-items: center;
}

#informacionGeneral h1{
    width: 554px;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.5px;
    color: #565656;
}
#yellow{color:#FFCD00}
#blue{color:#003087}
#red{color:#C8102E}

#informacionGeneral p{
    margin-top: 8px;
    width: 554px;
    text-align: center;
    font-family: 'Poppins';
    font-size: large;
    font-weight: light;
}
.botonDocumentacion{
    margin-top: 16px;
    border-style: none;
    background-color: #FFCD00;
    font-size: 18px;
    font-family: 'Krona One', sans-serif;
    text-align: center;
    width: 266px;
    height: 54px;
    color: #22292A;

}
.botonDocumentacion:hover{cursor: pointer}
#mariposaGrande{
    position: absolute;
    max-width: 100%;

    left: 72%;
    z-index: -10;
}
#mariposaPequeña{
    position: absolute;
    max-width: 100%;
    left: 10%;
    z-index: -10;
    transform: scaleY(-1);
    top: 26%;
}
#informacionAPIS{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
    font-family: 'Krona One', sans-serif;
    font-size: 20px;
    text-align: left;
    color: #565656;
    width: 100%;


}

.parteIzquierda  , .parteDerecha{
    width: 50%;
    margin: 0.6em 1.2em;
}

.parteIzquierda h1{
    font-size:24px;
    line-height: 28.8px;
    margin-bottom: 0.7em;
    
}

.parteIzquierda p{
    font-family: Poppins;
    font-size: 18px;
    font-weight:light;
    line-height: 28.8px;
    letter-spacing: 0.5px;
}
.botonDocumentacion{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.5px;
    text-align: center;

}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 0.5fr));
    grid-auto-rows: 200px;
    grid-gap: 10px;
    font-size: 10px;
    color: #22292A;
    margin-top: 10px;

}
.caja{
    padding: 12px 10px;
}
.caja h4{
    font-family: 'Krona One';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top: 8px;

}

.caja p{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 300;
    line-height: 16.8px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top: 8px;
    color: #22292A;
    
}

.caja h6{
    font-family: 'Krona One';
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    letter-spacing: 0.5px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.uno, .cuatro{
    background-color:#FEF9C3;
}
.dos, .tres{
    background-color: #93C5FD;
   
}
#Colaboradores{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30em;
    margin-top:4em;
}

#Colaboradores h1{
    font-family: 'Krona One';
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    color: #565656;
    margin-bottom: 1.4em;

}

#Colaboradores p{
    font-family:'Poppins';
    font-size: 18px;
    font-weight: 300;
    line-height: 28.8px;
    letter-spacing: 0.5px;
    text-align: center;
    width: 45%;
    color: #565656;
    

}
.contenedorprincipal{
    margin: 20px 3px;
    width: 76vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.partuna{
    display: flex;
    width: 84%;
    justify-content: space-between;
    flex-direction: row;
}
.partdos{
    display: flex;
    width: 55%;
    margin-top: -93px;
    justify-content: space-between;
}
.parttres{
    display: flex;
    width: 29%;
    flex-direction: row;
    margin-top: -90px;
    justify-content: space-around;

}
/*


.menu-desplegable{
    display: inline-flex;
    height: 16px;
    gap: 32px;

}
*/
/*
.menu-desplegable a, .menu-desplegable h6{
    height: 16px;
    font-family: 'Krona One', sans-serif;
    font-size: 14px; 
    font-weight: normal;
    line-height: 14.4px;
    letter-spacing: 0.5px;
    text-align: center;
    color:#565656;
    text-decoration-line:none;
}

.menu-desplegable span{
    color: #E6E9EA;
    font-size: 28px;
    font-weight: 500;
    margin-top: -11px;
    
}

.section-github{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#E6E9EA;
    border-radius: 5px;
    gap:8px;
    width: 70px;
    height: 30px;
    
}

.section-github p{

    background-color: white;
    border-radius: 5px;
    padding: 3px;
    font-family: 'Krona One', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
#Logo-API{
    margin-left: 120px;
    margin-top: 16px;
    width: 122px;
    height: 38.1px;
}

#githubIcon{
    padding-left: 4px;
}

section{
    height: 600px;
}
*/